.navbar {
  height: 100px;
  justify-content: start;
  padding-top: 30px;
  font-size: 25px;
  background-color: #e3f2fd;
}
.nav-link {
  font-style: 20px;
  color: black;
  margin-right: 20px;
  text-decoration: none;
}

.active {
  color: #e5839a;
  text-decoration: underline;
}
