.FilmsList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  margin-top: 20px;
  list-style-type: none;
}

.FilmItem {
  width: calc((100% - 60px)/4);
  margin-bottom: 40px;
  object-fit: cover;
  &:not(:nth-child(3n)){
    margin-right: 40px;
  }
}

.Title {
  align-content: center;
}

img {
  margin-bottom: 10px;;
  display: block;
  height: auto;
  width: 100%;
}

.title {
  margin-top: 20px;
  font-size: 18px;
}